Repository qcif/server-monitor-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests

feat: add 'static' as valid state for systemd file
  VERSION
  src/server_monitor_agent/agent/service.py
  tests/test_cli.py
Labels: tests

feat: alert manager is not implemented
  src/server_monitor_agent/service/alert_manager/io.py
  tests/data/expected_commands.py
  tests/test_agent.py
  tests/test_cli.py
Labels: tests

feat: update dependencies
  requirements-dev.txt
  requirements.txt
Labels: dependencies

feat: move to v0.3.2
  VERSION
Labels: none

feat: move to v0.4.0
  .github/dependabot.yml
  .github/workflows/code-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/test-package.yml
  .github/workflows/test.yml
  CONTIBUTING.md
  CONTRIBUTING.md
  VERSION
  ansible/roles/app/vars/main.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/server_monitor_agent/agent/cli.py
  src/server_monitor_agent/agent/command.py
  src/server_monitor_agent/agent/common.py
  src/server_monitor_agent/agent/monitor.py
  src/server_monitor_agent/agent/operation.py
  src/server_monitor_agent/agent/registry.py
  src/server_monitor_agent/agent/service.py
  src/server_monitor_agent/service/web/io.py
  tests/test_cli.py
  tests/test_todo.py
Labels: dependencies, tests

include io counters and cpu times
  src/server_monitor_agent/service/server/model.py
  src/server_monitor_agent/service/server/operation.py
Labels: none

move to EC2 instance metadata v2
  src/server_monitor_agent/agent/consul.py
  tests/test_cli.py
Labels: tests

make dependabot PRs at develop
  .github/dependabot.yml
Labels: none

release v0.5.0
  CONTRIBUTING.md
  VERSION
  tests/test_cli.py
Labels: tests

.github/labeler.yml:

documentation:
  - docs/**/*

dependencies:
  - requirements.txt
  - requirements-dev.txt
  - pyproject.toml
  - MANIFEST.in

tests:
  - tests/**/*
